a {
    transition: all 0.3s ease-in-out;
  }
  
  footer {
    border-top: 0 !important;
  }
  
  a:hover {
    text-decoration: none !important;
  }

  .newsletter {
    color:#83b3e4;
    border-radius: 25px;
  }

table tr {
  background-color: #1a202c;
}

table tr:nth-child(2n) {
  background-color: #262f40;
}

.hero {
  padding: 1rem;
  text-align: center;
}

.patreon {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
}

.patreon,
.patreon:active,
.patreon:visited,
.patreon:hover {
  background-color: rgb(255, 66, 77);
  color: white;
}

.patreon:hover {
  background-color: #e1000d;
  color: white;
}

h2 .text-center {
  text-align: center;
}
img .float-left {
  float: left;
  margin: 1.875rem;
}